/*
Normal text color: #C5C6C7
Heading Color: #66FCF1
Background color: #0B0C10
Navigation Bar color: #1f2833
*/

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.contactID{
    background-color: transparent;
}

.navigationbar{
    position: sticky;
    position: -webkit-sticky; /* for Safari */
    top: 0pt;
    width: 100%;
    left: 0pt;
    padding-bottom: 1px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #0B0C10;
    color: #C5C6C7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Adobe Garamond Pro Regular';
}

h1{
    font-family: 'Adobe Garamond Pro Regular';
    color: #66FCF1;
}

h2{
    font-family: 'Adobe Garamond Pro Regular';
    color:#66FCF1;
}

h3{
    font-family: 'Adobe Garamond Pro Regular';
    color: #66FCF1;
}

pre{
    font-family: 'Adobe Garamond Pro Italic';
    text-align: center;
    color: #C5C6C7;

    /*border-radius: 50%;
    border: 2px solid grey;
    padding: 50px;*/
    margin: 50px;
}

p{
    font-family: 'Adobe Garamond Pro Regular';
    color: #C5C6C7;
    font-size: x-large;
}

a{
    color: #66FCF1;
}

/* Navigation Menu Bar Styling */
ul {
    list-style-type: none; /* removes the bullets */
    margin: 0;
    padding: inherit;
    background-color: #1f2833;
    
  } 

li{
    display:inline-block;
    padding: 8px; /* remove the line breaks before and after each list item, to display them on one line */
}

li a{
    display: block;
    padding: 14px 16px;
}

li a:hover{
    background-color: #0B0C10;
}

li a:active{
        color: #C5C6C7;
        background-color: #66FCF1;
}
/* Navigation menu styling ends */

/* Dropdown Styling STARTS */

.dropbtn {
    background-color: #1f2833;
    color: #66FCF1;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    font-family: 'Adobe Garamond Pro Regular';
    text-decoration: underline;
    font-size:inherit;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #0B0C10;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B0C10;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #66FCF1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover{
      background-color: #66FCF1;
      color: #0B0C10;
  }
  
  .show {display: block;}

/* Dropdown Styling ENDS */

.projectdiv{
    border: 2px solid #C5C6C7;
    padding-left: 2%;
    padding-right: 2%;
    margin: 1%;
}

/* Feedback Form Styling Starts */

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: transparent;
    color: #C5C6C7;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #1f2833;
    color: #C5C6C7;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #0B0C10;
    padding: 8%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/* Feedback Form Styling Ends */