.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.contactID{
    background-color: transparent;
}

.navigationbar{
    position: sticky;
    position: -webkit-sticky; /* for Safari */
    top: 0pt;
    width: 100%;
    left: 0pt;
    padding-bottom: 1px;
}

html{
    scroll-behavior: smooth;
}

body{
    /*background-color: gainsboro;
    background-image: url('./Images/StarNight.jpg');*/

    background-color: #0B0C10;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Adobe Garamond Pro Regular';
    /*color: #679267;*/

    color: #C5C6C7;
}

h1{
    font-family: 'Adobe Garamond Pro Regular';
    /*color: #e34234;*/
    color: #66FCF1;
}

h2{
    font-family: 'Adobe Garamond Pro Regular';
    color:#66FCF1;
}

h3{
    font-family: 'Adobe Garamond Pro Regular';
    color: #66FCF1;
}

pre{
    font-family: 'Adobe Garamond Pro Italic';
    text-align: center;
    /*color: whitesmoke;*/

    color: #C5C6C7;

    /*border-radius: 50%;
    border: 2px solid grey;
    padding: 50px;*/
    margin: 50px;
}

p{
    font-family: 'Adobe Garamond Pro Regular';
    /*color: rgb(141, 209, 40);
    color: rgb(207, 198, 198);*/

    color: #C5C6C7;

    font-size: x-large;
}

a{
    color: #66FCF1;
}

/* Navigation Menu Bar Styling */
ul {
    list-style-type: none; /* removes the bullets */
    margin: 0;
    padding:inherit;
    background-color: #1f2833;
    
  } 

li{
    display:inline-block;
    padding: 8px; /* remove the line breaks before and after each list item, to display them on one line */
}

li a{
    display: block;
    padding: 14px 16px;
}

li a:hover{
    background-color: #0B0C10;
}
/* Navigation menu styling ends */